<a href="https://colab.research.google.com/github/Thalissa001/github-slideshow/blob/master/aula_de_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas  as pd 
pd.read_csv("ratings.csv")

       userId  movieId  rating     timestamp
0           1        1     4.0  9.649827e+08
1           1        3     4.0  9.649812e+08
2           1        6     4.0  9.649822e+08
3           1       47     5.0  9.649838e+08
4           1       50     5.0  9.649829e+08
...       ...      ...     ...           ...
43079     288    32587     4.5  1.130179e+09
43080     288    32598     3.5  1.145817e+09
43081     288    33004     3.5  1.135790e+09
43082     288    33164     2.5  1.138807e+09
43083     288    33166     4.0           NaN

[43084 rows x 4 columns]