<a href="https://colab.research.google.com/github/Thalissa001/github-slideshow/blob/master/aula_de_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas  as pd 
notas= pd.read_csv("ratings.csv")

In [ ]:
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
notas.shape

(100836, 4)

In [ ]:
notas.columns = ['usuarioid','filmeid','nota','momento']

In [ ]:
notas.head()

   usuarioid  filmeid  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [ ]:
notas['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [1]:
notas['nota'].value_counts()

NameError: ignored

In [3]:
filmes = pd.read_csv("movies.csv")

NameError: ignored

In [4]:
filmes.head()

NameError: ignored